:root {
  --primary-color: #93e3f1;
  --secondary-color: #035077;
  --tertiary-color: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  font-family: Helvetic, Arial, sans-serif;
}

/* Header Styles Start*/
header {
  padding: 20px 35px;
  background-color: var(--secondary-color);
  display: flex;
  /*justify-content: space-between;*/
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;
}

header h1 {
  font-weight: bold;
  font-size: 48px;
  color: var(--tertiary-color);
  margin: 0;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header-img {
  width: 75px;
  margin-left: 20px;
}

header a {
  text-decoration: none;
  color: var(--tertiary-color);
}

header nav {
  margin: 7px 0;
  position: absolute;
  right: 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/*Header Styles End*/

/* About Me Section Start */
.section-title {
  font-size: 48px;
  color: var(--secondary-color);
  border-bottom: 3px solid;
  padding-bottom: 20px;
  text-align: center;
  margin: 0 auto 35px auto;
  width: 50%;
  border-color: var(--secondary-color);
}

.about-me--content p {
  line-height: 1.7;
  color: black;
  width: 80%;
  font-size: 20px;
  margin: 0 auto;
  text-align: center;
}
/*About Me Section End*/

/*Projects Section Start*/

.projects-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.project-1 {
  background: url(./run\ buddy.PNG);
  background-size: cover;
  background-position: absolute;
  top: 0;
  height: 300px;
  max-width: 1000px;
  min-width: 700px;
  flex: 1 1 auto;
}

.project-2 {
  background: url(./3aaf252a8163fba4d0875bccc2ab38ad.jpg);
  background-size: cover;
  background-position: center;
  height: 250px;
  max-width: 500px;
  min-width: 350px;
  flex: 1 0 auto;
  margin: 20px 0px;
}

.project-3 {
  background: url(./istockphoto-1220017909-170667a.jpg);
  background-size: cover;
  background-position: center;
  height: 250px;
  max-width: 500px;
  min-width: 350px;
  flex: 1 0 auto;
  margin: 20px 0px;
}

.project-4 {
  background: url(./chitchat.png);
  background-size: cover;
  height: 250px;
  max-width: 500px;
  min-width: 350px;
  flex: 1 0 auto;
  margin: 20px 0px;
}

.project-5 {
  background: url(./dichoric-glass-d20-dice-urwizards-300x250.jpg);
  background-size: cover;
  height: 250px;
  max-width: 500px;
  min-width: 350px;
  flex: 1 0 auto;
  margin: 20px 0px;
}

.box {
  width: 150px;
  height: 50px;
  background: var(--secondary-color);
}

.box div a {
  color: var(--primary-color);
  text-align: center;
}
/*Projects Section End*/

/*Footer Styles Start*/
footer {
  background: var(--secondary-color);
  width: 100%;
  padding: 20px 20px;
}

footer h2 {
  color: var(--tertiary-color);
  font-size: 40px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.info-list {
  text-align: right;
  line-height: 1.5;
  padding-right: 10px;
}

footer div a {
  color: var(--tertiary-color);
}

footer div p {
  color: var(--primary-color);
}

section {
  padding: 30px;
}
/*Footer Styles End*/

/* UTILITIES */
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.flex-row {
  display: flex;
}

/*Media Query for Smaller Desktop Screens and Smaller*/
@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 20px;
  }

  footer h2,
  footer div {
    text-align: center;
    width: 100%;
  }

  .section-title {
    width: 80%;
  }
}

/*Media Query for Tablets and Smaller*/
@media screen and (max-width: 768px) {
  section {
    padding: 30px 15px;
  }
}

/*Media Query for Mobile Phones and Smaller*/
@media screen and (max-width: 575px) {
  .section-title {
    width: 95%;
  }

  .info-list {
    width: 100%;
  }

  .contact-info > * {
    flex: 0 100%;
  }
}
